.span6.offset1
  .spacer40
  = twitter_bootstrap_form_for @user, :html => {:class => 'form-horizontal'} do |f|
    = f.inputs do
      = f.email_field :email
      = f.password_field :password
      = f.password_field :password_confirmation
      = f.collection_select :role, 'Role', User::ROLES, :to_s, :to_s
    = f.actions do
      = f.submit 'Submit account', :disable_with => 'Please wait...', :class => 'btn btn-danger'
      = button_tag 'Cancel', :type => 'reset' , :class => 'btn'



