%h1 Users
.spacer20
%table.table.table-striped.table-borderedx.table-condensed#item-table
  %thead
    %tr
      %th Email
      %th Role
      %th Status
      %th Last Logged In
      %th Login count
      %th Last IP
      %th
        %i.icon-edit
      %th
        %i.icon-trash
  %tbody
    - @users.each do |user|
      %tr{:class => cycle('even', 'odd')}
        %td= user.email
        %td= user.role
        %td= user.status
        %td
          - if user.current_sign_in_at.present?
            = distance_of_time_in_words_to_now user.current_sign_in_at
            ago
        %td= user.sign_in_count
        %td= user.current_sign_in_ip
        %td= link_to 'Edit', edit_user_path(user)
        - unless user.status == 'deleted'
          %td.delete= link_to 'Delete', '#', :"data-url" => user_path(user), :"data-desc" => user.email

= paginate @users

%br

= link_to 'New User', new_user_path, :class => 'btn btn-danger'

= render :partial => 'shared/deletion_modal', :locals => {:item => 'user'}
