%h2 Change your password
.spacer40
.span7.offset1
  = twitter_bootstrap_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => 'form-horizontal', :method => :put} do |f|
    = f.hidden_field :reset_password_token
    = f.inputs do
      = f.password_field :password, "New password"
      = f.password_field :password_confirmation, "Confirm password"
    = f.actions do
      = f.submit 'Change my password', :class => 'btn btn-danger'

