.spacer40
.span7.offset1
  = twitter_bootstrap_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => 'form-horizontal', :method => :post} do |f|
    = f.inputs do
      = f.email_field :email
    = f.actions do
      = f.submit 'Send me reset password instructions', :class => 'btn btn-danger'

