.spacer40
.span7.offset1
  = twitter_bootstrap_form_for @delivery, :html => {:class => 'form-horizontal'} do |f|
    = f.inputs do
      = f.collection_select :product_id, 'Product', Product.all, :id, :item_code, {:prompt => true}, :disabled => current_user.extern?
      = f.text_field :purchase_order, :disabled => current_user.extern?
      = f.number_field :order_quantity, :disabled => current_user.extern?
      = f.number_field :actual_quantity
      = f.text_field :tour_number
      = f.date_select :shipped_at, 'Shipped', {:start_year => 2011, :order => [:day, :month, :year], :include_blank => true}, :class => 'span3', :disabled => current_user.extern?
      = f.date_select :delivered_at, 'Delivered', {:start_year => 2011, :order => [:day, :month, :year], :include_blank => true}, :class => 'span3'
    = f.actions do
      = f.submit 'Submit delivery', :disable_with => 'Please wait...', :class => 'btn btn-danger'
      = button_tag 'Cancel', :type => 'reset' , :class => 'btn'

