%h1 Deliveries
.spacer20
  - if @changed
    .alert.alert-info.alert-block
      %a.close{:"data-dismiss" => "alert", :href => "#"} x
      %h4.alert-heading Import successful
      .spacer20
      = @changed.count
      Records were changed
      .spacer20
      - if @changed.count > 0
        = link_to "Generate labels for changed records", labels_deliveries_path(:format => 'pdf', :range => @changed.join(',')), :target => '_blank', :class => 'btn btn-info'
  .spacer20

%table.table.table-striped.table-borderedx.table-condensed#item-table
  %thead
    %tr
      %th PO
      %th Product
      %th Order#
      %th Actual#
      %th Box#
      %th Pallet#
      %th Shipped
      %th Delivered
      %th
        %i.icon-print
      %th
        %i.icon-edit
      - unless current_user.extern?
        %th
          %i.icon-trash
  %tbody
    - @deliveries.each do |delivery|
      %tr{:class => "#{cycle('even', 'odd')} #{delivery.quantity_consistent? ? '' : 'inconsistent'}"}
        %td
          - unless delivery.quantity_consistent?
            %span.label.label-important Error
          = delivery.purchase_order
        %td
          = link_to delivery.product.item_code, product_path(delivery.product_id)
        %td= delivery.order_quantity
        %td= delivery.actual_quantity
        %td= delivery.num_boxes
        %td= delivery.pallets_needed
        %td= delivery.shipped_at
        %td= delivery.delivered_at
        %td= link_to 'Label', labels_deliveries_path(:format => 'pdf', :range => delivery.id), :target => '_blank'
        %td= link_to 'Edit', edit_delivery_path(delivery)
        - unless current_user.extern?
          %td.delete= link_to 'Del', '#', :"data-url" => delivery_path(delivery), :"data-desc" => "#{delivery.purchase_order} - #{delivery.product.item_code}"

= paginate @deliveries, :params => {:controller => :deliveries, :action => :index}

- unless current_user.extern?
  %strong
    = link_to 'New Delivery', new_delivery_path
.row-fluid
  .span6
    .upload_form
      .well
        %h3 Import Deliveries
        .spacer20
        - unless current_user.extern?
          = form_tag inbound_deliveries_path, :multipart => true, :class => 'form-horizontal' do
            = file_field_tag 'inbound_csv'
            = submit_tag "Upload Inbound", :disable_with => 'Please wait...', :class => 'btn btn-danger'
        = form_tag outbound_deliveries_path, :multipart => true, :class => 'form-horizontal' do
          = file_field_tag 'outbound_csv'
          = submit_tag "Upload Outbound", :disable_with => 'Please wait...', :class => 'btn btn-danger'

= render :partial => 'shared/deletion_modal', :locals => {:item => 'delivery'}
