= semantic_form_for @product do |f|
  = f.inputs do
    = f.input :item_code
    = f.input :fetim_code
    = f.input :fetim_name
    = f.input :size
    = f.input :per_vpe
    = f.input :per_box
    = f.input :barcode, :label => 'EAN number'
  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link, :label => 'Cancel'

