= semantic_form_for @product do |f|
  = f.inputs do
    = f.input :item_code
    = f.input :fetim_code
    = f.input :omlabel
    = f.input :item_grp_code
    = f.input :size
    = f.input :num_in_buy
    = f.input :per_pack_un
    = f.input :max_pallet
    = f.input :code_bars, :label => 'EAN number'
  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link, :label => 'Cancel'

