%h1 Products
.spacer20
%table.table.table-striped.table-borderedx.table-condensed#item-table
  %thead
    %tr
      %th{:width => '210px'} Item code
      %th Fetim
      %th{:width => '150px'} Label
      %th{:width => '100px'} Brand
      %th{:width => '140px'} Size
      %th /Unit
      %th /Box
      %th /Pallet
      - unless current_user.extern?
        %th
          %i.icon-edit
        %th
          %i.icon-trash
  %tbody
    - @products.each do |product|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to product.item_code, product_path(product.id)
        %td= product.fetim_code
        %td= (product.omlabel || '').truncate(18)
        %td= product.item_grp_code
        %td= (product.size || '').truncate(14)
        %td= product.num_in_buy
        %td= product.per_pack_un
        %td= product.max_pallet
        - unless current_user.extern?
          %td
            =link_to 'Edit', edit_product_path(product)
          %td
            - unless product.status == 'deleted'
              = link_to 'Del', product, :confirm => 'Are you sure?', :method => :delete

= paginate @products

- unless current_user.extern?
  %strong
    = link_to 'New Product', new_product_path
  %div{:style => 'min-height: 20px'}

  .row-fluid
    .span6.offset2
      .upload_form
        .well
          %h3 Import Products
          .spacer20
          = form_tag import_products_path, :multipart => true, :class => 'form-horizontal' do
            .control-group
              = label_tag 'Products CSV', nil, :class => 'control-label'
              .controls
                = file_field_tag 'products_csv', :label => 'Products CSV'
            .control-group
              = label_tag 'FETIM codes CSV', nil, :class => 'control-label'
              .controls
                = file_field_tag 'fetimcodes_csv', :label => 'Fetim CSV'
            = submit_tag "Upload Products", :disable_with => 'Please wait...', :class => 'btn btn-danger'
