%h1 Products



%table.item_table
  %tr
    %th Item code
    %th Fetim code
    %th Fetim name
    %th Size
    %th Per vpe
    %th Per box
    %th Barcode
    %th
    %th

  - @products.each do |product|
    %tr
      %td= link_to product.item_code, product_path(product.id)
      %td= product.fetim_code
      %td= product.fetim_name
      %td= product.size
      %td= product.per_vpe
      %td= product.per_box
      %td= product.barcode
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete

= paginate @products

= link_to 'New Product', new_product_path

.upload_form

  = form_tag import_products_path, :multipart => true do
    = file_field_tag 'import_csv'
    = submit_tag "Upload Products"
