%h1 Products



%table.item_table
  %tr
    %th{:width => '160px'} Item code
    %th Fetim code
    %th Label
    %th Item Group Code
    %th Diameter
    %th Num In Buy
    %th Per Pack
    %th Max Pallet 
    %th Barcode
    %th
    %th

  - @products.each do |product|
    %tr{:class => cycle('even', 'odd')}
      %td= link_to product.item_code, product_path(product.id)
      %td= product.fetim_code
      %td= product.omlabel
      %td= product.item_grp_code
      %td= product.diameter
      %td= product.num_in_buy
      %td= product.per_pack_un
      %td= product.max_pallet
      - unless current_user.extern?
        %td= link_to 'Edit', edit_product_path(product)
        %td
          - unless product.status == 'deleted'
            = link_to 'Del', product, :confirm => 'Are you sure?', :method => :delete

.pagination
  = paginate @products

- unless current_user.extern?
  = link_to 'New Product', new_product_path

  .upload_form
    %h3 Import Products
    = form_tag import_products_path, :multipart => true do
      %ul
        %li
          = label_tag do
            .span-4
              Products CSV
            .span-6
            = file_field_tag 'products_csv', :label => 'Products CSV'
        %li
          = label_tag do
            .span-4
              FETIM codes CSV
            .span-6
              = file_field_tag 'fetimcodes_csv', :label => 'Fetim CSV'
      .span-10{:style => 'margin-left:276px'}
        = submit_tag "Upload Products", :disable_with => 'Please wait...'
