%h1 Products

= form_tag import_products_path, :multipart => true do
  = file_field_tag 'import_csv'
  = submit_tag "Uploaden"


%table
  %tr
    %th Item code
    %th Fetim code
    %th Fetim name
    %th Size
    %th Per vpe
    %th Per box
    %th Barcode
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.item_code
      %td= product.fetim_code
      %td= product.fetim_name
      %td= product.size
      %td= product.per_vpe
      %td= product.per_box
      %td= product.barcode
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Product', new_product_path
