%p#notice= notice

%h1 Product details

%p
  %b Item code:
  = @product.item_code
%p
  %b Fetim code:
  = @product.fetim_code
%p
  %b Label:
  = @product.omlabel
%p
  %b Brand
  = @product.item_grp_code
%p
  %b diameter (mm):
  = @product.diameter
%p
  %b Per buy unit:
  = @product.num_in_buy
%p
  %b Per pack unit:
  = @product.per_pack_un
%p
  %b Max per pallet:
  = @product.max_pallet
%p
  %b EAN code
  = @product.code_bars

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
