%p#notice= notice

%h1 Product details

.span7.offset1
  .spacer40
  %table.table
    %thead
    %tbody
      %tr
        %td
          %strong Item code
        %td= @product.item_code
      %tr
        %td
          %strong Fetim code
        %td= @product.fetim_code
      %tr
        %td
          %strong Label
        %td= @product.omlabel
      %tr
        %td
          %strong Brand
        %td= @product.item_grp_code
      %tr
        %td
          %strong Items per buy unit
        %td= @product.num_in_buy
      %tr
        %td
          %strong Buy units per box
        %td= @product.per_pack_un
      %tr
        %td
          %strong Boxes per pallet
        %td= @product.max_pallet
      %tr
        %td
          %strong Box length (mm)
        %td= @product.length
      %tr
        %td
          %strong Box width (mm)
        %td= @product.width
      %tr
        %td
          %strong Box height (mm)
        %td= @product.height
      %tr
        %td
          %strong EAN barcode
        %td= @product.code_bars
      %tr
        %td
          %strong Status
        %td= @product.status

  .spacer20
  -unless current_user.extern?
    %strong= link_to 'Edit', edit_product_path(@product)
    \|
  %strong= link_to 'Back', products_path
