%ul.menu.nav.nav-pills.nav-stacked
  %li{:class => [request.path =~ /#{deliveries_path}/ ? 'active' : nil]}
    = link_to deliveries_path do
      %i{:class => ['icon-envelope', (request.path =~ /#{deliveries_path}/ ? 'icon-white' : nil)]}
      Deliveries
  %li{:class => [request.path =~ /#{products_path}/ ? 'active' : nil]}
    = link_to products_path do
      %i{:class => ['icon-leaf', (request.path =~ /#{products_path}/ ? 'icon-white' : nil)]}
      Products
  - if current_user.admin?
    %li{:class => [request.path =~ /#{users_path}/ ? 'active' : nil]}
      = link_to users_path do
        %i{:class => ['icon-user', (request.path =~ /#{users_path}/ ? 'icon-white' : nil)]}
        Users



