!!!
%html
  %head
    %title Labelwriter
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        .span12
          .header
            = image_tag 'pls_header.jpg'
      .row-fluid
        .span12
          .header
            = render 'layouts/layout'
      .spacer20
      .row-fluid
        .span12
          .span3.offset6
            - if flash[:error] || flash[:alert]
              .alert.alert-error
                %a.close{:"data-dismiss" => "alert", :href => "#"} x
                = flash[:error] || flash[:alert]
            - elsif flash[:notice]
              .alert.alert-info
                %a.close{:"data-dismiss" => "alert", :href => "#"} x
                =flash[:notice]
      .row-fluid
        .span2
          - if user_signed_in?
            = render 'layouts/menu'
          - else
            &nbsp;
        .span10
          = yield
      .row-fluid
        .span12
          .footer
