!!!
%html
  %head
    %title Labelwriter
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        .span12
          .header
            = image_tag 'pls_header.jpg'
      .row-fluid
        .span12
          .header
            = render 'layouts/layout'
      .row-fluid
        - if flash[:error] || flash[:notice]
          .flash
            = flash[:error] || flash[:notice]
      .row-fluid
        .span2
          - if user_signed_in?
            = render 'layouts/menu'
          - else
            &nbsp;
        .span10
          = yield
      .row-fluid
        .span12
          .footer
